@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oxanium:wght@600;700&display=swap");

.text-white {
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #10bb4a;
  padding: 1.5rem;
}

.text-dark {
  color: #111;
}

.font-weight-bold {
  font-weight: bold;
}

.font-style-home {
  font-family: "Noto Sans", sans-serif;
}

.font-style-skill {
  font-family: "Oxanium", cursive;
}

.nav-tabs {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}

li {
  list-style: none;
  /* vertical-align: 1rem; */
}

.Home {
  display: flex;
  justify-content: space-around;
}
/* 1rem = 16px */
.left {
  flex: 1;
  margin: 3rem 3rem auto 15rem;
}

.heading {
  font-size: 50px;
  font-family: "Crete Round", serif;
}

.welcomeText {
  height: 303px;
  width: 440px;
  font-size: 20px;
  line-height: 25px;
  font-family: "Crete Round", serif;
}

.right {
  flex: 1;
  margin-top: 7rem;
}

.skill-heading {
  font-size: 2.5rem;
  margin: 5rem auto;
}

.text-success {
  color: #10bb4a;
}

.text-center {
  text-align: center;
}

.HEAD_SKILL {
  display: flex;
  line-height: 0.5;
  text-align: center;
}

.HEAD_SKILL .skill-heading {
  display: inline-block;
  position: relative;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  width: 400px;
  height: 300px;
  border: 3px solid #10bb4a;
  margin: auto auto 3rem auto;
}

.card-header {
  display: flex;
}
.skill-heading::after,
.skill-heading::before {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 7px solid #10bb4a;
  width: 520px;
}
.skill-heading:before {
  right: 100%;

  margin-right: 15px;
}
.skill-heading:after {
  left: 100%;
  margin-left: 15px;
}
.skill-icon {
  margin-left: 3rem;
  margin-top: 2rem;
  flex: 1;
}

.card_heading {
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  flex: 3;
}

.grid-skill {
  display: grid;
  grid-template-columns: auto auto;
}

.card-body {
  margin: auto 2.5rem;
  width: auto;
  height: 170px;
  font-family: "Crete Round", serif;
  line-height: 180%;
}
