@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Crete+Round&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Oxanium:wght@600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&family=M+PLUS+Rounded+1c:wght@500&display=swap");

@media only screen and (min-width: 1024px) {
  .container-grid {
    display: grid;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "card5 card6";
    grid-row-gap: 10%;
    width: 100%;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    border: 2px solid #10bb4a;
    width: 75%;
    height: auto;
    justify-self: center;
    display: grid;
    padding: 0 5% 5%;
  }
}

@media only screen and (max-width: 780px) {
  .container-grid {
    display: grid;
    grid-template-areas:
      "card1"
      "card2"
      "card3"
      "card4"
      "card5"
      "card6";
    grid-row-gap: 2%;
    width: auto;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5,
  .card6 {
    border: 2px solid #10bb4a;
    width: 100%;
    justify-self: flex-start;
    display: grid;
    padding: 5%;
  }
}

.text-success {
  color: #10bb4a;
}

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}
.card6 {
  grid-area: card6;
}

.card-header {
  justify-self: center;
  font-family: "Open Sans", sans-serif;
}

.card_heading {
  font-size: 2em;
}

.font-weight-bold {
  font-weight: bold;
}

.card-body {
  font-size: 1.2em;
  font-family: "Open Sans", sans-serif;
  font-family: "Crete Round", serif;
}
